body {
  font-family: sans-serif;
  word-wrap: break-word;
  background-color: black;
  color: greenyellow;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.match {
  color: red;
}

button,
select,
input {
  background-color: black;
  border: 1px solid yellowgreen;
  color: yellowgreen;
  border-radius: 5px;
}

input:focus,
select:focus,
button:focus,
input:hover,
select:hover,
button:hover {
  box-shadow: 0 0 10px yellowgreen;
  outline: none;
}

.form-group label {
  margin-right: 10px;
}

select {
  min-width: 50px;
}

#panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.required {
  font-size: 10px;
  margin: 10px;
}

#inputMessage {
  font-size: 10px;
  margin: 2px;
}

nav {
  border-bottom: 1px solid yellowgreen;
  margin-bottom: 20px;
}

.add,
.remove {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.area {
  width: 50%;
}

#add-target {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.filter {
  display: flex;
  font-size: 12px;
  align-items: center;
  margin: 5px;
}

.container {
  display: block;
  position: relative;
  padding-left: 17px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: black;
  border: 1px solid yellowgreen;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  box-shadow: 0 0 10px yellowgreen;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: yellowgreen;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 2.5px;
  width: 4px;
  height: 8px;
  border: solid black;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#targets {
  display: flex;
  justify-content: center;
}

.target-col {
  width: 47.5%;
}

#spacer {
  width: 5%;
}

.target-col:nth-of-type(1) {
  text-align: right;
}
