body {
  font-family: sans-serif;
  word-wrap: break-word;
  background-color: black;
  color: greenyellow;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.match {
  color: red;
}
